<div *ngIf="!loading; else elseBlock" class="cont" >
<mat-sidenav-container class="map">


  <mat-sidenav #sidenav position="end">
    <div class="row">
      <button type="button" class="close pull-right" aria-label="Close" (click)="sidenav.close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row depart-row" *ngFor="let d of departements">
      <button class="btn btn-primary" (click)="clickOnRegion(r.feature)">{{d.code}} - {{d.nom}}</button>
    </div>
  </mat-sidenav>

  <!-- primary content -->
    <div class="map">
      <div id="map"
           class="map"
           leaflet
           [leafletOptions]="options"
           (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
    <div class="button-sidenav">
      <button type="button" class="btn btn-primary btn-lg" (click)="sidenav.open()">
        <span class="glyphicon glyphicon-search icon-search"></span>
      </button>
      <button type="button" class="btn btn-primary btn-lg" (click)="reset()">
        <span class="glyphicon glyphicon-home icon-home"></span>
      </button>
      <button type="button" class="btn btn-primary btn-lg" (click)="leafletImage()">
        <span class="glyphicon glyphicon-save icon-save"></span>
      </button>
    </div>


</mat-sidenav-container>
</div>

<ng-template #elseBlock>
  <div class="cont">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>



